<div class="container" ng-controller="HistoryCtrl as history">

    <div class="list-container">

        <div class="control-btn">
            <a ui-sref="home"><button type="button" class="btn btn-default links-btn">Active Ta Do</button></a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-default  rust-font font-pb">History</div>

            <div class="panel-body">
                <div class="control-btn">
                    <button ng-click="history.delete()" type="button" class="btn btn-default links-btn" id="clear-btn" style="float: left;">Clear All</button>
                </div>

                <p>&nbsp;</p>
                <ul class="list-group text-left">
                    <span ng-repeat="task in history.tasksComplete">
                      <li class="list-group-item list-style-do"><s>{{ task.title }}</s>
                      </li>
                    </span>

                    <span ng-repeat="task in history.tasksIncomplete">
                      <li class="list-group-item list-style-do" ng-if="(history.currentTime - task.date) > 60">{{ task.title }}
                      </li>
                    </span>
                </ul>
            </div>

        </div>

    </div>

</div>

<div class="navbar" id="footer">
    Copyright <span class="glyphicon glyphicon-copyright-mark" style="vertical-align: top; padding-top: 1px "></span>&nbsp;2017 All Rights Reserved
</div>
